* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utitlites */
.green-text {
  color: #0f6c3f;
}
.light-green-text {
  color: #008a25;
}
.grey-text {
  color: #565e6c;
}

@media screen and (max-width: 600px) {
  /* hero section */
  .heading-title__image {
    width: 7.188rem;
    /* height: 200px; */
  }
  .heading-title__text {
    width: 10rem;
  }
  .hero-bg__img {
    z-index: -1;
  }
  .hero-title {
    z-index: 1;
  }
  .hero-tagline {
    font-size: 0.5rem;
  }
  .map-60__wrap {
    width: 6rem;
    height: 6rem;
  }
  section.hero {
    padding-top: 5rem;
    overflow: hidden;
    min-height: 72vh;
    background: url("../images/heroBg.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero-leafy {
    bottom: 0.5rem;
    width: 111px;
    left: -7px;
  }

  .content-intro {
    z-index: 2;
    background: url("../images/svgs/patterned-green-bg.svg") no-repeat;
    /* background-size: 133%; */
    background-size: cover;
    background-position: -10px 3px;
    overflow-x: clip;
  }
  .intro-text {
    width: 85%;
    font-size: 0.9rem;
    color: #ccf3ae;
  }
  .masq-img {
    right: -0.563rem;
    width: 37%;
    top: -0.6rem;
    z-index: -1;
  }
  .para-heading {
    font-weight: 700;
  }
  .content-para {
    columns: 2;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .content-para strong {
    font-weight: 800;
  }
  .drop-cap {
    font-size: 57px;
    float: left;
    font-weight: bold;
    padding-right: 14px;
    margin-top: -8px;
  }
  .content-img__leafy {
    right: 0;
    width: 90px;
    top: 21rem;
  }

  /* Objectives section */
  section.objectives {
    min-height: 500px;
    overflow-x: clip;
  }
  .top-pattern {
    width: 100%;
    top: -2px;
  }
  .obj-img {
    width: 80%;
    top: -9rem;
    right: -9rem;
    z-index: 2;
  }
  .obj-title {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .icon-wrap {
    width: 45px;
  }
  .objective-desc {
    width: 8.25rem;
  }
  .atampa-bg {
    width: 100%;
    z-index: -1;
  }
  .days-challenge {
    /* z-index: 3; */
    padding-top: 13rem;
  }

  /* Ankara Section */
  .ankara-intro__text {
    width: 12rem;
    font-size: 0.9rem;
  }
  .ankara-para {
    width: 12rem;
    color: #008a25;
    font-size: 0.8rem;
  }
  .key-activity,
  .ankara-60,
  .the-launch,
  .footer-section {
    overflow-x: clip;
  }
  .the-launch .leafy-right,
  .the-launch .leafy-left {
    width: 6.18rem;
  }
  .the-launch img {
    width: 100%;
  }
  .the-launch .leafy-right {
    right: 0;
  }
  .the-launch .leafy-left {
    left: 0;
  }

  .venue-details h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  .venue-details p {
    font-size: 0.6rem;
  }
  img.lil-pattern {
    width: 50px;
  }
  .footer-img-wrap img {
    width: 100%;
  }
  .footer-img-wrap {
    width: 8rem;
  }
  .img-wrap-9ja {
    width: 6rem;
  }
  .img-wrap-9ja img {
    width: 100%;
  }
  .naija-sp {
    font-size: 1rem;
  }
  .naija-sp-para {
    font-size: 0.6rem;
  }
  /* Footer */
  footer span {
    font-size: 0.7rem;
    color: #565e6c;
  }
}
